<div class="tradepanel">
    <div class="graphwrapper">
        <div class="graph" id= "studenttradeGraph"></div>
    </div>
    <div class="slider-wrapper" >
        <p><strong>Terms of Trade</strong></p>
        <p>What are the rules of trading?</p>
        <p role="text" aria-live="polite only">1 Wood (lbs.) for: <span id="tot-fish">250</span>fish (cals.)</p>
        <div class="tot-range-wrapper">
            <input tabindex="13" type="range" min="0" step="1" max="1000" value="250" class="tot-slider" id="tot-fish-range">
            <div><span class="l_label">0</span><span class="r_label">1000</span></div>
        </div>
        <p><strong>Trade</strong></p>
        <p>How much do we trade?</p>
        <p role="text" aria-live="polite only">Give wood (lbs.): <span id="give-wood-lbs">5</span></p>
        <div class="tot-range-wrapper">
            <input tabindex="13" type="range" min="0" step="1" max="96" value="5" class="tot-slider" id="tot-wood-range">
            <div><span class="l_label">0</span><span class="r_label">96</span></div>
        </div>
        <p>Receive fish (cals.)<span id="receive-fish-cals">1250</span></p>
    </div>
</div>
<div class= "tradepanel">
    <div class="graphwrapper">
        <div class="graph" id="fridaytradeGraph"></div>
    </div>
    <div class="slider-wrapper">
        <p><strong>Consumption</strong></p>
        <p></p>
        <p role="text" aria-live="polite only">Collect Wood: <span id="consumption-wood">0</span></p>
        <div class="tot-range-wrapper">
            <input tabindex="13" type="range" min="0" step="1" max="48" value="0" class="consumption-wood-range" id="consumption-wood-range">
            <div><span class="l_label">0</span><span class="r_label">48</span></div>
        </div>        
        <p role="text" aria-live="polite only">Collect Fish: <span id="f_val">0 lbs.</span>hr</p>
        <div class="tot-range-wrapper">
            <input tabindex="14" type="range" min="0" step="1" max="6000" value="0" class="consumption-fish-range" id="consumption-fish-range">
            <div><span class="l_label">0</span><span class="r_label">6000</span></div>
        </div>
    </div>
    <center>
        <div class="startbtnpanel">
            <input class="btnstartslider" type="button" id="tot-btnstartslider" value="Start" />
        </div>
    </center>
    
</div>